<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Activity и Application декларируются в Plan 02 (Hello LinTech). -->
    <application
        android:label="ЛИнТех Дневник"
        android:supportsRtl="true">
    </application>
</manifest>
